.button {
    background-color: grey;
    border-radius: 29px;
    transition: all .3s;
    height: 58px;
    padding: 0 37px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: normal;


    &.accentColor {
        background: var(--accentColor);
        color: var(--secondColor);

        &:hover {
            background-color: var(--accentColorHover);
        }

        &:active {
            background: var(--accentColor);
            color: var(--secondColor);
        }
    }

    &.secondAccentColor {
        background-color: var(--secondColor);
        color: var(--secondColor);

        &:hover {
            background-color: var(--secondColorHover);
        }

        &:active {
            background-color: var(--secondColor);
            color: var(--secondColor);
        }
    }

    &.thirdAccentColor {
        background-color: var(--secondColor);
        color: var(--thirdColor);

        &:hover {
            background-color: var(--accentColor);
            color: var(--secondColor);
        }

        &:active {
            background-color: var(--accentColorHover);
        }
    }
}

