.link {
    background-color: grey;
    display: inline-block;
    border-radius: 29px;
    transition: all .3s;
    min-height: 58px;
    padding: 0 37px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: normal;
    cursor: pointer;


    &.accentColor {
        background: var(--accentColor);
        color: #fff;

        &:hover {
            background-color: var(--accentColorHover);
        }

        &:active {
            background: var(--accentColor);
            color: #fff;
        }
    }

    &.secondAccentColor {
        background-color: var(--secondColor);
        color: #000;

        &:hover {
            background-color: var(--secondColorHover);
        }

        &:active {
            background-color: var(--secondColor);
            color: #000;
        }
    }

    &.play {
        position: relative;
        padding-left: 50px;

        &::after {
            position: absolute;
            content: url(../../assets/play.svg);
            top: 0;
            left: 30px;
        }
    }
}


